<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysMailMapper">
    
    <resultMap type="SysMail" id="SysMailResult">
        <result property="mailId"    column="mail_id"    />
        <result property="mailTitle"    column="mail_title"    />
        <result property="mailContent"    column="mail_content"    />
        <result property="status"    column="status"    />
        <result property="sendObject"    column="send_Object"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysMailVo">
        select mail_id, mail_title, mail_content, status, send_Object, create_by, create_time, update_by, update_time, remark from sys_mail
    </sql>

    <select id="selectSysMailList" parameterType="SysMail" resultMap="SysMailResult">
        <include refid="selectSysMailVo"/>
        <where>  
            <if test="mailTitle != null  and mailTitle != ''"> and mail_title = #{mailTitle}</if>
            <if test="mailContent != null  and mailContent != ''"> and mail_content = #{mailContent}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="sendObject != null  and sendObject != ''"> and send_Object = #{sendObject}</if>
        </where>
    </select>
    
    <select id="selectSysMailById" parameterType="Integer" resultMap="SysMailResult">
        <include refid="selectSysMailVo"/>
        where mail_id = #{mailId}
    </select>
        
    <insert id="insertSysMail" parameterType="SysMail" useGeneratedKeys="true" keyProperty="mailId">
        insert into sys_mail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mailTitle != null and mailTitle != ''">mail_title,</if>
            <if test="mailContent != null">mail_content,</if>
            <if test="status != null">status,</if>
            <if test="sendObject != null and sendObject != ''">send_Object,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mailTitle != null and mailTitle != ''">#{mailTitle},</if>
            <if test="mailContent != null">#{mailContent},</if>
            <if test="status != null">#{status},</if>
            <if test="sendObject != null and sendObject != ''">#{sendObject},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysMail" parameterType="SysMail">
        update sys_mail
        <trim prefix="SET" suffixOverrides=",">
            <if test="mailTitle != null and mailTitle != ''">mail_title = #{mailTitle},</if>
            <if test="mailContent != null">mail_content = #{mailContent},</if>
            <if test="status != null">status = #{status},</if>
            <if test="sendObject != null and sendObject != ''">send_Object = #{sendObject},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where mail_id = #{mailId}
    </update>

    <delete id="deleteSysMailById" parameterType="Integer">
        delete from sys_mail where mail_id = #{mailId}
    </delete>

    <delete id="deleteSysMailByIds" parameterType="String">
        delete from sys_mail where mail_id in 
        <foreach item="mailId" collection="array" open="(" separator="," close=")">
            #{mailId}
        </foreach>
    </delete>

</mapper>